<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener este archivo de estilo -->
</head>
<body>

    <!-- Botón de regreso en la esquina superior derecha -->
    <a class="back-button" href="/">Back</a>

    <div class="about-container">
        <h1>About Me</h1>
        <div class="about-content">
            <div class="photo">
                <img src="/img/AboutMePic.jpg" alt="Mi Foto" class="profile-pic">
            </div>
            <div class="description">
                <p>
                    With extensive experience in developing dynamic web applications,
                    I specialize in full-stack development using cutting-edge technologies
                     like React and Node.js. I have a proven track record of designing, 
                     building, and deploying scalable, high-performance solutions that
                      prioritize both functionality and user experience. My expertise
                       spans across both front-end and back-end development, with a sharp
                        focus on performance optimization, code efficiency, and delivering
                         seamless user interactions. Passionate about staying at the forefront
                          of web development trends, I continuously strive to refine my skills
                           and push the boundaries of what's possible.
                </p>
            </div>
        </div>
    </div>
    

</body>
</html>
