<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcade Menu</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Ruta relativa para el CSS -->
</head>
<body>
    <div class="arcade-container">
        <h1>Arcade Menu</h1>
        <button onclick="window.location.href='/game'">Play</button>
        <button onclick="window.location.href='/about'">About Me</button>
        <button onclick="window.location.href='/instructions'">Instructions</button>
    </div>
</body>
</html>
